[INPUT]
# Format of routed flow
# Choose from:
#   Lomann - fortran Lohmann routing output (YYYY MM DD flow)
#   USGS - USGS data
obs_format: Lohmann
# A file containing a list of corresponding original streamflow data, and routed flow path (Lohmann output, from inverted runoff)
# Each row: a station
# Columns: <station_name> <path for original obs. streamflow data> <path for Lohmann routed daily output, Lohmann output format> (<USGS data column>)
cmp_routed_obs_list_path: /raid2/ymao/VIC_RBM_east_RIPS/inverse_routing/postprocess_results/cmp_routed_obs_list/Tennessee
[PARAM]
# Unit of streamflow observation data
# Choose from: cfs
obs_flow_unit: cfs
[OUTPUT]
# Output plot directory
output_plot_dir: /raid2/ymao/VIC_RBM_east_RIPS/inverse_routing/postprocess_results/plots/Tennessee


